---
layout: default
title: Golden Meanie
---
<section class="index">
  <ul class="toc">
    {% for post in site.posts %}
      <li class="toc-entry">
        <a href="{{ post.url }}">
          <div class="title-etc">
            <h2>
              {{ post.title }}
              <span class="time-stamp">{{ post.date | date_to_string }}</span>
            </h2>
            {% if post.excerpt %}
              <p class="excerpt">{{ post.excerpt }}</p>
            {% endif %}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
