---
layout: default
title: Golden Meanie
---
<section class="index">
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">
          <span class="meta">{{ post.date | date_to_string }}</span>
          &raquo;
          <span class="post-title">{{ post.title }}</span>
          {% if post.excerpt %}
            <span class="excerpt">{{ post.excerpt }}</span>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
<section class="elsewhere">
  {% include elsewhere.html %}
</section>
