<p>
  The Golden Meanie thing started as a handle for Xbox Live, but has spread to <a href="http://flickr.com/golden-meanie">Flickr</a>, <a href="http://twitter.com/goldenmeanie">Twitter</a>, <a href="http://dribbble.com/goldenmeanie">Dribbble</a>, <a href="http://pinboard.in/u:goldenmeanie">Pinboard</a>, &amp; <a href="http://gimmebar.com/user/goldenmeanie">Gimme Bar</a>.
</p>
<p>
  He works for <a href="http://batchblue.com" class="bb">BatchBlue</a>, where they just relaunched <a href="http://batchbook.com" class="bb">Batchbook</a>. Side projects include <a href="http://thehopperdeck.com">The Hopper Deck</a> and <a href="http://thebenchmarkbook.com">The Benchmarks</a>. Past side projects include <a href="http://minivite.com">Minivite</a> and the (sniff) now defunct <a href="http://twalala.com">Twalala</a>.
</p>
