header {
  padding: .25em .5em 2em;
  h1 {
    font-size: 5em;
    margin: .25em 1.5rem 0;
  }
  a {
    color: $meanie;
    text-decoration: none;
    &:visited {
      color: $meanie;
    }
    &:hover {
      color: #fa0;
    }
  }
}
