.index {
  margin: 0 0 3em;
  h2 {
    font-size: 3em;
    margin-left: 4.45em;
  }
  li {
    color: $subdued;
    list-style: none;
    font-family: Populaire Regular;
    font-size: 2.5em;
    margin: 0;
    padding: .5em 1em;
    a {
      color: $meanie;
      display: block;
      text-decoration: none;
      &:hover {
        color: #f60;
        .post-title {
          color: #f60;
        }
      }
    }
  }
}
.toc-entry {
  background-image: url('/images/web.svg');
  background-position: center center;
  background-size: 250%;
  position: relative;
  &:hover {
    animation: spectrum 22000ms ease-in-out infinite forwards;
    h2,
    .excerpt
    {
      color: transparentize(#333, .15);
    }
    .time-stamp {
      color: transparentize(#333, .5);
    }
  }
  .time-stamp {
    color: rgba(0,0,0,0.4);
    display: inline-block;
    font-size: .75em;
  }
  .title-etc {

  }
  h2 {
    color: $alt-background;
    font-size: 1em;
    margin-left: 0;
  }
  .excerpt {
    color: rgba(0,0,0,0.4);
    display: none; // will reveal as page gets larger
    line-height: 1em;
  }
}
