
* {
    padding: 0;
    margin: 0;
}
body {
    background: #24211c;
}
p {
    color: #ffb400;
    font-family: Helvetica; font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 18px;
    -webkit-font-smoothing: antialiased;
}
a {
    color: #ffcc00;
    font-weight: bold;
    text-decoration: none;
}
a.bb:hover {
    border-bottom: 1px solid #4B8CF7;
    color: #4B8CF7;
    }
a:hover {
    color: #ffcc00;
    border-bottom: 1px solid rgba(255,180,0,.75);
}
#monogram {
    width: 50px;
    padding: 50px 0 0 0;
    margin: 0 auto 0 50px;
}
#about {
    width: 360px;
    padding: 0 0 0 0px;
    margin: 23px auto 0 50px !important;
}

@media screen and (max-width: 480px) {

	#pagewrap {
		width: 95%;
	}

	#content {
		width: 60%;
		padding: 3% 4%;
	}

	#sidebar {
		width: 30%;
	}
	#sidebar .widget {
		padding: 8% 7%;
		margin-bottom: 10px;
	}

}
